<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Neue Aufgabe</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submitValues()" #addElementForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <textarea class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        </textarea>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
    </form>
    <div class="form-group">
      <label for="time">Dauer</label>
      <input type="text" class="form-control" id="time"
                [(ngModel)]="model.time" name="alterEgo">
    </div>
    <div class="form-group">
      <label for="priority">Priorität</label>
      <input type="number" class="form-control" id="priority"
                [(ngModel)]="model.priority" name="alterEgo">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Abbrechen</button>
    <button type="button" class="btn btn-outline-dark" (click)="submitValues(); c('Close click')">Hinzufügen</button>
  </div>
</ng-template>

<button class="btn btn-md btn-outline-primary" (click)="open(content)">
  <i class="fas fa-plus"></i>
</button>
