<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
    <app-menu-button></app-menu-button>
      <div class="container d-flex justify-content-between">
        <h4 class="text-white"><i class="far fa-sticky-note"></i> jplogs</h4>
        <app-authentification-token></app-authentification-token>
      </div>
    </div>
    <ng-template #popContent><textarea></textarea></ng-template>
  </header>

  <router-outlet></router-outlet>

</div>

