<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <h4 class="text-white"><i class="far fa-sticky-note"></i> jplogs</h4>
        <app-add-element-modal></app-add-element-modal>
      </div>
    </div>
    <ng-template #popContent><textarea></textarea></ng-template>
  </header>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Spicker</h1>
      <form (submit)="search()">
        <input class="form-control" #searchControl (keyup.enter)="search(searchControl.value)" placeholder="Stichwort">
      </form>
    </div>
  </section>

  <div class="album bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 jp-bottom-margin">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

